@import './fonts.css';

body {
  font-family: 'Lato', sans-serif;
  width: 1020px;
  margin: 0 auto;
}
.container {
  padding: 0 40px;
  width: 940px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headers {
  margin: 0;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}

/* header styles */
header {
  height: 95px;
  background-color: #2d303a;
  text-transform: uppercase;
  border-bottom: 6px solid #323746;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.logo {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}
.logo::after {
  content: "*";
  color: #f06c64;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 29px;
  letter-spacing: -0.00015em;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  /* position: relative; */

  height: 30px;
}
.menu a::before {
  content: '·';
  color: #494e62;
  padding: 0 1.01em;
}
.menu a:first-child::before {
  display: none;
}
.menu a:hover {
  color: #f06c64;
  transition: color .1s ease-in;
}

/* slider styles */
.slider {
  height: 585px;
  background-color: #f06c64;
  border-bottom: 15px solid #ea676b;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vertical-image {
  position: relative;
  object-fit: scale-down;

}
.horizontal-image {
  position: relative;
  object-fit: scale-down;
}

/* Next & previous buttons */
button {
  position: relative;
  top: 40%;
  background: none;
  border: none;
  color: #ca4549;
  padding-left: 5px;
}
button.right {
  transform: rotate(180deg);
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}

/* services styles */
.services .container {
  width: 940px;
  height: 495px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;

  color: #767e9e;
  text-align: left;
  letter-spacing: -0.00001em;
  word-spacing: 0.055em;

  display: flex;
  flex-direction: column;
}

h2.headers {
  width: 100%;
  padding-top: 70px;
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

h3.headers {
  font-size: 18px;
}
.services-header__text {
  margin: 25px auto;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  overflow: hidden;
}
.services-elements__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* padding-top: -5em; */
}
.services-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 32%;
  
}

.services-element__text {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  /* text-align: left; */
}

object {
  margin-right: 18px;
  padding: 0;
}