@import './fonts.css';

body {
  font-family: 'Lato', sans-serif;
  width: 1020px;
  margin: 0 auto;
}
.container {
  margin: 0 40px;
  width: 940px;
}
.headers {
  margin: 0;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-transform: capitalize;
  text-align: justify;
  letter-spacing: -0.014em;
}
h2 {
  padding-top: 70px;
  font-size: 30px;
}
h3 {
  padding-top: 1em;
  font-size: 18px;
  padding-bottom: 1em;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.portfolio {
  height: 863.5px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}
p {
  padding-top: 5px;
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
}

.menu {
  margin: 14px auto;
}
button {
  text-transform: capitalize;
  font-size: 12px;
  line-height: 2px;
  color: #767e9e;
  font-weight: 400;
  text-align: center;
  padding: 0 6px;
  margin: 2.4px auto;
  line-height: 18px;
  border-radius: 5px;
  background-color: #2d303a;
  border: 1px solid #666d89;
  cursor: pointer;
}
button:hover {
  color: #dedede;
}

div.examples {
  max-height: 600px;
  overflow: hidden;
}
.examples img {
  margin-bottom: 17px;
  width: 220px;
  height: 187px;
  background-color: #464b5e;
  object-fit: none;  
}

/* about us*/
.about {
  height: 724px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
.about p {
  margin-top: 21px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  letter-spacing: -0.012em;
}
.team_members {
  padding-top: 26px;
  height: 440px;
}
.member_info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  flex: 0 1 30%;
}
.member_info img {
  width: 300px;
  height: 300px;
}
.member_info p {
  margin: 0;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
}

.social_media a {
  text-decoration: none;
}
.social_media img {
  width: 32px;
  height: 32px;
}
